.modal {
	max-width: 500px;
	margin: 150px auto;
	padding: 25px;
	border-radius: 8px;
	background-color: #f5f5f5;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.logo {
	width: 120px;
	height: 120px;
	margin-top: -80px;
	background-color: #f5f5f5;
	border-radius: 50%;
	margin-bottom: 25px;
	box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
